<!-- views/bearbeiten.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __("editTitle") %></title>

    <%- include('nav') %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container mt-5">

        <h1><%= __("editTitle") %></h1>
        <form action="/speichernBearbeitung/<%= fehler.id %>" method="POST">
            <div class="form-group">
                <label for="modul">Modul:</label>
                <input type="text" class="form-control" id="modul" name="modul" value="<%= fehler.modul %>" readonly>
            </div>

            <div class="form-group">
                <label for="category"><%= __("classLabel") %></label>               
                <select class="form-control" id="class" name="class" disabled>
                    <option value="Fehler" <%= fehler.class === 'Fehler' ? 'selected' : '' %>><%= __("Error") %></option>
                    <option value="Verbesserung" <%= fehler.class === 'Verbesserung' ? 'selected' : '' %>><%= __("Improvement") %></option>
                    <option value="Erweiterung" <%= fehler.class === 'Erweiterung' ? 'selected' : '' %>><%= __("Expansion") %></option>
                </select>
            </div>
    
            <div class="form-group">
                <label for="category"><%= __("categoryLabel") %></label>
                <select class="form-control" id="category" name="category" disabled>
                    <option value="Inhaltlich" <%= fehler.category === 'Inhaltlich' ? 'selected' : '' %>><%= __("Content-related") %></option>
                    <option value="Sprachlich" <%= fehler.category === 'Sprachlich' ? 'selected' : '' %>><%= __("Linguistic") %></option>
                    <option value="Technisch" <%= fehler.category === 'Technisch' ? 'selected' : '' %>><%= __("Technical") %></option>
                </select>
            </div>
    
            <div class="form-group">
                <label for="resource"><%= __("resourceLabel") %></label>
                <select class="form-control" id="resource" name="resource" disabled>
                    <option value="Script" <%= fehler.resource === 'Script' ? 'selected' : '' %>><%= __("Script") %></option>
                    <option value="Interactive Script" <%= fehler.resource === 'Interactive Script' ? 'selected' : '' %>><%= __("Interactive Script") %></option>
                    <option value="Musterklausur" <%= fehler.resource === 'Musterklausur' ? 'selected' : '' %>><%= __("Sample-Exam") %></option>
                    <option value="Online Test" <%= fehler.resource === 'Online Test' ? 'selected' : '' %>><%= __("Online-Test") %></option>
                    <option value="Präsentation" <%= fehler.resource === 'Präsentation' ? 'selected' : '' %>><%= __("Presentation") %></option>
                    <option value="Vodcast" <%= fehler.resource === 'Vodcast' ? 'selected' : '' %>><%= __("Vodcast") %></option>
                    <option value="Podcast" <%= fehler.resource === 'Podcast' ? 'selected' : '' %>><%= __("Podcast") %></option>
                    <option value="Library Service" <%= fehler.resource === 'Library Service' ? 'selected' : '' %>><%= __("Library Service") %></option>
                </select>
            </div>
    
            <div class="form-group">
                <label for="minute"><%= __("minuteLabel") %></label>
                <input type="text" class="form-control" id="minute" name="minute" value="<%= fehler.minute %>" readonly>
            </div>
    
            <div class="form-group">
                <label for="seite"><%= __("pageLabel") %></label>
                <input type="text" class="form-control" id="seite" name="seite" value="<%= fehler.site %>" readonly>
            </div>
    
            <div class="form-group">
                <label for="screenshots">Screenshots:</label>
                <!-- Kleine Vorschau der Screenshots -->
                <!--<% screenshots.forEach(function(screenshot, index) { %>-->
                    <a href="#" data-toggle="modal" data-target="#screenshotModal">
                        <!--
                            <img src="/uploads/<%= screenshot %>" alt="Screenshot" class="img-thumbnail">

                            <img src="data:image/png;base64, <%= screenshot.base64Screenshot %>" alt="Screenshot" class="img-thumbnail">-->
                            <img src="/uploads/<%= screenshot %>" alt="Screenshot" class="img-thumbnail">
                        </a>
                <!--<% }); %>-->
            </div>

            
            <!-- Modal für vergrößerte Ansicht des Screenshots -->
            <div class="modal fade" id="screenshotModal" tabindex="-1" role="dialog" aria-labelledby="screenshotModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="screenshotModalLabel">Screenshot</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Große Ansicht des Screenshots im Modal -->
                            <img src="/uploads/<%= screenshots%>" alt="Screenshot" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="comment"><%= __("commentLabel") %></label>
                <input type="text" class="form-control" id="comment" name="comment" value="<%= fehler.comment %>" readonly>
            </div>

            <div class="form-group">
                <label for="status">Status:</label>
                <select class="form-control" id="status" name="status" required>
                    <option value="Neu" <%= fehler.status === 'Neu' ? 'selected' : '' %>><%= __("statusNew") %></option>
                    <option value="in Bearbeitung" <%= fehler.status === 'in Bearbeitung' ? 'selected' : '' %>><%= __("statusWorking") %></option>
                    <option value="Abgeschlossen" <%= fehler.status === 'Abgeschlossen' ? 'selected' : '' %>><%= __("statusDone") %></option>
                    <option value="unklar" <%= fehler.status === 'unklar' ? 'selected' : '' %>><%= __("statusNotClear") %></option>
                    <option value="Abgelehnt" <%= fehler.status === 'Abgelehnt' ? 'selected' : '' %>><%= __("statusRejected") %></option>
                </select>
            </div>

            <div class="form-group">
                <label for="prio">Prio.</label>
                <select class="form-control" id="prio" name="prio" required>
                    <option value="unkritisch" <%= fehler.prio === 'unkritisch' ? 'selected' : '' %>><%= __("prioUncritical") %></option>
                    <option value="kritisch" <%= fehler.prio === 'kritisch' ? 'selected' : '' %>><%= __("prioCritical") %></option>
                </select>
            </div>

            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" id="id" name="id" value="<%= fehler.id %>" readonly>
            </div>

            <div class="form-group">
                <label for="assignee_id"><%= __("assignedToLabel") %></label>
                <select class="form-control" id="assignee_id" name="assignee_id" required>
                    <option value="">Kein Bearbeiter</option>
                    <% bearbeiter.forEach(function(benutzer) { %>
                        <option value="<%= benutzer.id %>" <%= fehler.assignee_id === benutzer.id ? 'selected' : '' %>><%= benutzer.username %></option>
                    <% }); %>
                </select>
            </div>
            
    
            <div class="form-group">
                <label for="notifier_id"><%= __("reportLabel") %></label>
                <input type="text" class="form-control" id="notifier_id" name="notifier_id" value="<%= notifierUsername %>" readonly>
            </div>

            <div class="form-group">
                <label for="message"><%= __("messageLabel") %>:</label>
                <textarea class="form-control" id="message" name="message" rows="4"><%= fehler.message%></textarea>
            </div>

            

            <button type="submit" class="btn btn-primary"><%= __("saveChangeLabel") %></button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JavaScript (Popper.js is included) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>
    <script src="languageToggle.js"></script>

</body>
</html>
