<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meine Meldeübersicht</title>

    <%- include('nav') %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-between mb-3">
            <div class="col">
                <h1><%= __("overviewTitle") %></h1>
            </div>
            <div class="col-auto">
                <a href="/report" class="btn btn-primary"><%= __("reportButton") %></a>
            </div>
            <div class="col-auto">
                <button id="language-toggle" class="btn btn-primary float-right"><%= __("changeLanguageButton") %></button>
            </div>

        </div>        <table id="errorTable" class="table table-bordered table-striped">            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Modul</th>
                    <th><%= __("classLabel") %></th>
                    <th><%= __("categoryLabel") %></th>
                    <th><%= __("resourceLabel") %></th>
                    <th><%= __("minuteLabel") %></th>
                    <th><%= __("pageLabel") %></th>
                    <th>Status</th>
                    <th>Prio</th>
                    <th><%= __("commentLabel") %></th>
                    <th><%= __("dateLabel") %></th>
                    <th><%= __("queryLabel") %></th>
                </tr>
            </thead>
            <tbody>
                <% reports.forEach(function(fehler) { %>
                    <tr>
                        <td><%= fehler.id %></td>
                        <td><%= fehler.modul %></td>
                        <td><%= fehler.class %></td>
                        <td><%= fehler.category %></td>
                        <td><%= fehler.resource %></td>
                        <td><%= fehler.minute %></td>
                        <td><%= fehler.site %></td>
                        <td><%= fehler.status %></td>
                        <td><%= fehler.prio %></td>
                        <td><%= fehler.comment %></td>
                        <td><%= new Date(fehler.date).toLocaleDateString('de-DE') %></td>
                        <td>
                            <% if (fehler.status === "unklar" || fehler.status === "Abgelehnt") { %>
                                <a href="/bearbeiten-melder/<%= fehler.id %>" class="btn btn-warning"><%= __("editLabel") %></a>
                            <% } %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.24/i18n/German.json"></script>
    <script src="languageToggle.js"></script>
    <script>

    </script>
</body>
</html>
